<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Recipes</title>
	<link rel="stylesheet" href="/public/styles.css">
</head>
<body>
	<main class="main">
		<header class="header">
			Cookies Recipies
			<nav class="menu">
				<ul>
					<li><a href="/singin" title="Sing In">Sing In</a></li>
					<li><a href="/singup" title="Sing Up">Sing Up</a></li>
				</ul>
			</nav>
		</header><!-- /header -->
		 <div class="smoothie">
		    <img src="public/smoothie.png" alt="">
		  </div>
		  <div class="headings">
		    <h2>Smoothie Recipes</h2>
		    <h3>By Ninjas For Ninjas</h3>
		    <a href="public/smoothies" class="btn">View Recipes</a>
		  </div>
	</main>
</body>
</html>