<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Sing Up</title>
	<link rel="stylesheet" href="/public/styles.css">
</head>
<body>
		<form class="form" id="form">
		<h1 class="title">Sing Up!</h1>
		<div class="custom-input">
			<label for="email">Email</label>
			<input id="email" name="email" type="email" name="email" required>
			<div class="email error"></div>
		</div>

		<div class="custom-input">
			<label for="password">Password</label>
			<input id="password" name="password"  type="password" name="password" required >
			<div class="password error"></div>
		</div>

		<div class="custom-input">
			<label for="password">Confirm password</label>
			<input id="confirmPassword" name="confirmPassword"  type="password" name="password" required >
			<div class="confirmPassword error"></div>
		</div>
	

		<button type="submit" class="submit">Sing up</button>
	</form>
	
</body>

<script>
	const form = document.querySelector('form');
	const emailError = document.querySelector('.email.error');
	const passwordError = document.querySelector('.password.error');
	const confirmPasswordError = document.querySelector('.confirmPassword.error');
	const singUpButton = document.querySelector('.submit');

	const handleErrors = (data) => {
		if (data.errors) {
			emailError.textContent = data.errors.email;
			passwordError.textContent = data.errors.password;
			if (confirmPassword.value !== password.value ) {
				confirmPasswordError.textContent = 'Password not match'
			} else confirmPasswordError.textContent = '';	
		}
	}
	form.addEventListener('submit', async (e) => {
		e.preventDefault()
		const [ email, password, confirmPassword ] = form;

		try{
			singUpButton.textContent = 'Loading...';
			const res = await fetch('/singup', {
				method: 'POST',
				headers: { 'Content-Type': 'application/json' },
				body: JSON.stringify({ 
					email: email.value,
					password: password.value,
				}),
			});
			const data = await res.json();
			handleErrors(data);

			if(data.user) location.assign('/')
		}
		catch(err){
			console.log(err);
		}
		finally {
			singUpButton.textContent = 'Sing up';
		}
	})

</script>
</html>