<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Sing Up</title>
	<link rel="stylesheet" href="/public/styles.css">
</head>
<body>
		<form class="form" id="form">
		<h1 class="title">Sing Up!</h1>
		<label for="email">Email</label>
		<input id="email" name="email" type="email" name="email" required>
		<label for="password">Password</label>
		<input id="password" name="password"  type="password" name="password" required >
		<label for="password">Confirm password</label>
		<input id="confirmPassword" name="confirmPassword"  type="password" name="password" required >
		<div class="error"></div>
		<button type="submit" class="submit">Sing in</button>
	</form>
	
</body>

<script>
	const form = document.querySelector('form')

	form.addEventListener('submit', async (e) => {
		e.preventDefault()
		const [ email, password, confirmPassword ] = form;

		try{
			const res = await fetch('/singup', {
				method: 'POST',
				headers: { 'Content-Type': 'application/json' },
				body: JSON.stringify({ 
					email: email.value,
					password: password.value,
				}),
			});

			console.log(res)
		}
		catch(err){
			console.log(err);
		}
	})

</script>
</html>