<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Smoothies</title>
	<link rel="stylesheet" href="/public/styles.css">
</head>
<body>
	<main class="main">
			<header class="header">
			<a href="/" title="smoothies"> <h1>Smoothies</h1></a>
			<nav class="menu">
				<ul>
					<li><a href="/singin" title="Sing In">Sing In</a></li>
					<li><a href="/singup" title="Sing Up">Sing Up</a></li>
					<li><a href="/logout" title="Log Out">Log out</a></li>
				</ul>
			</nav>
		</header><!-- /header -->

		<section class="cookies">
			<ul class="recipes">
			  <li class="recipe">
			    <img src="public/smoothie.png" alt="smoothie recipe icon">
			    <h4>Banana Boost</h4>
			    <p>Banana, Vanilla ice cream, Milk</p>
			  </li>
			  <li class="recipe">
			    <img src="public/smoothie.png" alt="smoothie recipe icon">
			    <h4>Tropical Twist</h4>
			    <p>Peach, Pinapple, Apple juice</p>
			  </li>
			  <li class="recipe">
			    <img src="public/smoothie.png" alt="smoothie recipe icon">
			    <h4>Protein Packer</h4>
			    <p>Oats, Peanut butter, Milk, Banana, Blueberries</p>
			  </li>
			  <li class="recipe">
			    <img src="public/smoothie.png" alt="smoothie recipe icon">
			    <h4>Banana Boost</h4>
			    <p>Banana, Vanilla ice cream, Milk</p>
			  </li>
			  <li class="recipe">
			    <img src="public/smoothie.png" alt="smoothie recipe icon">
			    <h4>Tropical Twist</h4>
			    <p>Peach, Pinapple, Apple juice</p>
			  </li>
			  <li class="recipe">
			    <img src="public/smoothie.png" alt="smoothie recipe icon">
			    <h4>Protein Packer</h4>
			    <p>Oats, Peanut butter, Milk, Banana, Blueberries</p>
			  </li>
			</ul>
		</section>
	</main>
</body>

<script>
	
</script>
</html>