* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--primary: #434343;
	--secondary: #929292;
	--bg: #f3f3f3;
	--font-size: 1.2rem ;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Roboto";
	background-color: var(--bg);
}


form {
	border-radius: 10px;
	padding: 30px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	box-shadow: 1px 1px 3px rgba(0,0,0,.7);
}


h1 {
	text-align: center;
	font-size: 3rem;
	color: var(--primary);
	margin-bottom: 30px;
}

.custom-input {
	margin-bottom: 15px;
}

label {
	display: block;
	font-size: 1rem;
	color: var(--secondary);
}

input {
	border-radius: 5px;
	padding: 9px 10px;
	width: 300px;
	font-size: 1.1rem;
	color: #929292;
	border: 1px solid #ccc;
}

button {
	background: #58ea62;
	padding: 10px;
	color: #fff;
	font-size: 1.4rem;
	margin-top: 20px;
	border: none;
	border-radius: 30px;
}


.error {
	font-size: .8rem;
	color: #fc5d7b;
	font-weight: bold;
}

.submit {
	outline: none;
	cursor: pointer;
}


.main {
	width: 100%;
	height: 100%;
}